@import "tailwindcss";

:root {
  --la-background: #EFECF1;
  --la-text: #530071;
  --la-primary: #A900DF;
  --la-primary-accent: #BC6EE1;
  --la-secondary: #a40505;
  --la-overlay-background: #7c696970;
  --la-transition-length: .25s;
  --la-border-radius: .25rem;
  --la-font-family: Arial;
}

@theme {
  --color-background: #0a0712;
  --color-foreground: #ffe3e3;

  --color-primary: #A900DF;
  --color-primary-accent: #BC6EE1;
  --color-secondary: #a40505;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --duration-fast: .25s;

}

body {
  background: var(--la-background);
  color: var(--la-text);
  font-family: var(--la-font-family);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

.btn {
  padding: .5rem;
  line-height: 1;
  border-radius: var(--la-border-radius);
  cursor: pointer;
  transition: var(--la-transition-length);
  user-select: none;

  &.btn-primary {
    background: var(--la-primary);
    color: var(--la-background);

    &:hover,
    &:focus {
      background: var(--la-primary-accent);
    }

    &:active {
      background: var(--la-primary);
    }
  }
}
